body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 80px;
    background-color: #dfebf4;
}

img {
    width: 30vh;
    height: auto;
}

main {
    flex: calc(100vh - 130px);
    background-image: linear-gradient(to bottom, #dfebf4, #c5e9ef);
    background-color: #f4e9df;
}

footer {
    background-color: #c5e9ef;
    flex: 0 50px;
}

.fancyTitle {
    color: #ffffff;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.fancyTitle:hover {
    color: #ffffff;
    cursor: pointer;
}

menu {
    display: flex;
    flex-direction: row;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}