body {
    display: flex;
    flex-direction: column;
}

header {
    flex: 0 80px;
    font-size: 3em;
    background-color: #dfebf4;
    display: flex;
    justify-content: center;
}

img {
    width: 30vh;
    height: auto;
}

form {
    width: 250px;
}

main {
    flex: calc(100vh - 130px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, #dfebf4, #c5e9ef);
    background-color: #f4e9df;
}

footer {
    background-color: #c5e9ef;
    flex: 0 50px;
}

.pedastle {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}