header {
    display: flex;
    flex-direction: column;
}

/* .currentScore {
    position: fixed;
    right: 0;
} */

.gameInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-button {
    background: none;
    border: none;
}