:root {
    --background-color: #ffffff;
    --topColor: #dfebf4;
    --bottomColor: #c5e9ef;
}

body {
    display: flex;
    flex-direction: column;
}

header { 
    display: flex;
    flex: 0 100px;
    flex-direction: row;
    border-bottom: 100px;
    justify-content: flex-start;
    background-color: var(--topColor);
}

.mainGraphic {
    width: 40vh;
    height: auto;
}

main {
    flex: calc(100vh - 130px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to bottom, var(--topColor), var(--bottomColor));
    background-color: var(--background-color);
    width: 100%
}

footer {
    background-color: var(--bottomColor);
    height: 10vh;
    flex: 0 50px;
}

menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 0;
}

i {
    color: #ffffff;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.fancyTitle {
    color: #ffffff;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.fancyTitle:hover {
    color: #ffffff;
    cursor: pointer;
}

.inputRight{
    text-align: right;
}

.navbar {
    margin-left: 20px;
    width: 200px;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}