table{
    width: 50%;
    min-width: 150px;
    flex-direction: column;
}

table th, .leaderSlot{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;;
    vertical-align: top;
    width: 100%;
}

.leaderBoardUser, table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}